@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
}

.cardCategory{
    display: flex;
    flex-direction: row;
    border: 1px solid #f3f2f2;
    background: #ffffff;
    box-shadow:  3px 3px 10px #d9d9d9,
             -3px -3px 10px #ffffff;
    margin: 1% 0.5% 0 0.5% ;
    padding: 0.5% 0.5%;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
    transition: 0.5s;
}

.cardCategory:hover{
    transform: scale(1.1);
}

.cardCategory > img{
    width: 30px;
    height: 20px;
}

@media(max-width:500px){
    .cardCategory{
        margin: 1.1%;
        padding: 1.5%;
        border-radius: 10px;
        height: 35px;
        cursor: pointer;
        transition: 0.5s;
    }
}