@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.title{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 8%;
    text-align: center;
}

.subtitle{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #7C7B7B;
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
    width: 65%;
}

@media(max-width:500px){
    .title{
        font-size: 130%;
        margin-top: 8%;
    }
    
    .subtitle{
        font-size: 80%;
        margin-bottom: 5%;
        width: 90%;
    }
}